body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    margin: 0 12%;
}

.info-cards-div {
    display: flex;
    flex-flow: wrap;
    font-family: 'raleway';
}

.info-cards-div_content p {
    font-size: 14px;
    font-weight: 300;
    color: #484d53;
}

.heady_3 {
    font-family: 'roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: .2px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.55;
}

.info2-cards-div {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 40px;
}

.text-info2 {
    font-size: 18px;
}
.apps-show-div {
    display: flex;
    flex-flow: wrap;
}

.apps-show-div-content1 {
    background-color: rgb(195, 203, 211);
    border-radius: 8%;
    margin-left: 1%;
}

.apps-show-div-content2 {
    background-color: rgb(38, 41, 44);
    border-radius: 8%;
    margin-right: 1%;
}

.header-apps-show-div {
    padding: 15% 0 0 15%;
}

.name-apps-show-div {
    padding: 15% 0 0 15%;
}

.text-apps-show-div {
    padding: 15% 0 0 15%;

}

.coment-apps-show-div {
    padding: 15% 0 0 15%;
}

@media screen and (min-width: 320px){
    .info-cards-div_content{
        width: 50%;
    }
    .text-succes{
        color: #4ebc42;
        font-size: 21px;
    }
    .info2-cards-div-content {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        font-size: 13px;
        line-height: 1.4;
        letter-spacing: 0.5px; 
        padding: 0 16px;      
    }
    .apps-show-div-content1, .apps-show-div-content2{
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .info-cards-div_content {
        width: 24%;
        text-align: center;
    }
    .info2-cards-div-content {
        width: 30%;
    }
    .apps-show-div-content1, .apps-show-div-content2 {
        width: 49%;
    }
}