body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: #252c36;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    line-height: 1.5;
    font-weight: 300;
}


.info-cards-div-wrapper {
    display: flex;
    flex-flow: wrap;    
    font-family: 'raleway';
}

.info-cards-div_content p {
    font-size: 14px;
    color: #484d53;
}

.info2-cards-div-wrapper {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 80px;
    align-items: left;
}

.icon-wrap1 {
    width: 50px;
    height: 50px;
    background-color: #4d77ef;
    border-radius: 50px;
    text-align: center;
}

.icon-wrap2 {
    width: 50px;
    height: 50px;
    background-color: #ffd340;
    border-radius: 50px;
    text-align: center;
}

.icon-wrap3 {
    width: 50px;
    height: 50px;
    background-color: #ff7171;
    border-radius: 50px;
    text-align: center;
}

.icon-wrap1 i, .icon-wrap2 i, .icon-wrap3 i {
    color: #ffffff;
    font-size: 230%;
    text-align: center;
    padding-top: 10px;
}

.info2-cards-div-content p {
  font-size: 13px; 
  line-height: 20px;
  letter-spacing: 0.4px;
}

.text-info2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: 0.15px;
}

.apps-show-div {
    display: grid;
}

.header-apps-show {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 1.1px;
}

.apps-show-content h1 {
    font-size: 32px;
}

.apps-show-content p {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.apps-show-content1 a, .apps-show-content2 a {
    text-decoration: none;
    font-size: 10px;
    color: #4ebc42;
}

.apps-show-wrapper1 {
    background: #f6f9fc;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 19px 0px;
}

.apps-show-wrapper2 {
    background: #161a1e;
    border-radius: 10px;
}

.apps-show-content2 {
    color: #f6f9fc;
}

.apps-show-phone {
    background: url(https://assets.bitso.com/static/media/app.a16b8f00.png) center center / contain no-repeat;
    height: 201px;
    width: auto;
    text-align: center;
    position: relative;
}

.apps-show-grafica {
    background: url(https://assets.bitso.com/static/media/alpha.85594308.png) center center / contain no-repeat;
    height: 201px;
    width: auto;
}

.apps-show-phone-text {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 85%;
    left: 50%;
}

.apps2-show {
    display: grid;
    background: #4ebc42;
    border-radius: 10px 10px;
    height: 330px;
}

.apps2-show-wrapper1 {
    height: 151px;  
}

.apps2-show-wrapper2 {
    background: url(https://assets.bitso.com/static/media/emoji1.d3cc48f3.png) center center / contain no-repeat;
    position: relative;
}

.apps2-show-msj1 {
    position: absolute;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 30%) 2px 2px 12px 0px;   
}

.apps2-heady-container {
    display: flex;
}

.apps2-heady-container h3 {
    margin: auto 0;
    margin-left: 8px;
    font-size: 15px;
}

.apps2-show-msj1 p, 
.apps2-show-msj2 p {
    margin: 0 auto;
}

.apps2-heady-container img, 
.apps2-heady-container img {
    width: 42px;
    height: 42px;
}

.apps2-show-msj2 {
    position: absolute;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 30%) 2px 2px 12px 0px;  
}

.apps2-heady {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.1px;
    color: rgb(255, 255, 255);
}

.apps2-show-wrapper1 h1 {
    color: rgb(255, 255, 255);
}

.apps2-show-wrapper1 p {
    color: rgb(255, 255, 255);
}

.acc-tuto {
    display: flex;
    margin-bottom: 50px;
}

.acc-tuto-heady {
    font-weight: 300;
    letter-spacing: -1.54px;
}

.acc-tuto-wrapper ul {
    list-style: none;
    color: #000000;
    padding: 0;
}

.acc-tuto-wrapper ul li {
    margin-bottom: 50px;
}

.load-numer-container {
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgb(246, 249, 252);
}

.load-numer-test {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    font-weight: 800;
    width: 100%;
    height: 100%;
    color: #4ebc42;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-numer-adjuster {
    display: flex;
}

.acc-tuto-text {
    font-size: 12px;
    line-height: 16px;
    margin: auto 0;
    font-weight: 900;
    padding-left: 10px;
}

.load-numer-wrapper p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.14px;
    color: rgb(37, 44, 54);
    padding-left: 50px;
}

.load-numer-wrapper p a {
    text-decoration: none;
    color: #4ebc42;
}

.load-numer-wrapper p a:hover {
    text-decoration: underline;
}

.currency-panel {
    background-color: rgb(22, 26, 30);
    color: #f6f9fc;
}

.currency-panel-heady {
    font-size: 36px;
    line-height: 52px;
    letter-spacing: -1.54px;
    text-shadow: rgb(22 26 30) 0px 0px 15px;
}

.currency-panel-coins {
    display: grid;
    margin-bottom: 85px;
}

.currency-coin-container {
    position: relative;
    transition-duration: 1s;
    transition-timing-function: linear;
    height: 68px;
    background-color: rgb(37, 44, 54);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.coin-description {
    height: 32px;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.09px;
    line-height: 19px;
}

.coin-description p {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
}

.coin-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 100;
    color: rgb(37, 44, 54);
}

#icon-btc {
    background-color: #ffd340;
}

#icon-eth {
    background-color: rgb(162, 91, 255);
}

#icon-tusd {
    background-color: rgb(77, 119, 255);
}

#icon-xrp {
    background-color: rgb(26, 151, 255);
}

#icon-dai {
    background-color: rgb(255, 101, 38);
}

#icon-ltc {
    background-color: rgb(44, 205, 197);
}

#icon-mana {
    background-color: rgb(255, 145, 33);
}

#icon-bch {
    background-color: rgb(177, 223, 54);
}

#icon-bat {
    background-color: rgb(255, 113, 113);
}

#coin-container-btc:hover {
    background-color: #ffd95a;
    color: #000000;
}

#coin-container-eth:hover {
    background-color: #b075ff;
    color: #000000;
}

#coin-container-tusd:hover {
    background-color: #678aff;
    color: #000000;
}

#coin-container-xrp:hover {
    background-color: #34a3ff;
    color: #000000;
}

#coin-container-dai:hover {
    background-color: #ff7740;
    color: #000000;
}

#coin-container-ltc:hover {
    background-color: #3dd5ce;
    color: #000000;
}

#coin-container-mana:hover {
    background-color: #ff9e3b;
    color: #000000;
}

#coin-container-bch:hover {
    background-color: #bae34c;
    color: #000000;
}

#coin-container-bat:hover {
    background-color: #ff8b8b;
    color: #000000;
}

.currency-coin-container:hover {
    transform: rotateX(-180deg);    
    transform-style: preserve-3d;
}

@media screen and (min-width: 320px){
    .container {
        margin: 0 10%;
    }

    .info-cards-div_content{
        width: 50%;
    }

    .info-cards-div_content p {
        padding: 0 3%;
    }
    
    .text-succes{
        color: #4ebc42;
        font-size: 21px;
    }

    .heady_3 {
        margin: 40px 0;
        font-size: 24px;
        line-height: 32px;
        font-weight: 100;
    }

    .info2-cards-div-content {
        width: 100%;
        font-size: 13px;
        line-height: 1.4;
        letter-spacing: 0.5px; 
        margin: 26px 0;
        padding: 0 10%;              
    }

    .apps-show-div {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: none;
    }

    .apps-show-content1, .apps-show-content2 {
        margin: 14px 34px;
    }

    .apps-show-wrapper1, .apps-show-wrapper2 {
        margin-bottom: 10px;
        height: 490px;
    }

    .apps2-show {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr); 
        margin-bottom: 40px;
        height: 450px;
        margin: 0 10%;
    }

    .apps2-show-wrapper1 {
        padding: 30px 5% 0 5%; 
        height: 185px; 
    }

    .apps2-show-wrapper2 {
        width: auto;
        height: 235px;
    }

    .apps2-show-msj1 {
        width: 175px;
        height: 60px;
        transform: translate(5%, 25%);
        padding: 15px;
        font-size: 10px;
        line-height: 1.15; 
    }

    .apps2-show-msj1 p, .apps2-show-msj2 p {
        margin-top: 5px;
    }

    .apps2-heady-container img {
        width: 30px;
        height: 30px;
    }

    .apps2-heady-container h3 {
        font-size: 12px;
    }

    .apps2-show-msj2 {
        width: 175px;
        height: 60px;
        transform: translate(20%, 112%);
        padding: 15px;
        font-size: 10px;
        line-height: 1.15; 
    }

    .acc-tuto {
        margin: 0 24px;
        flex-direction: column;
    }

    .acc-tuto-heady {
        font-size: 22px;
        line-height: 1.55;
        padding: 0;
    }

    .currency-panel {
        padding-top: 50px;
        margin: 0;
    }

    .currency-panel-heady {
        margin-bottom: 50px;
    }

    .currency-panel-coins {    
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-auto-flow: initial;
        grid-auto-rows: initial;
        grid-auto-columns: initial;
        gap: 9px;
    }

    .currency-panel-container {
        padding: 0 22px;
    }

    .coin-icon {
        margin: 0 5px 0 5px;
    }
}

@media screen and (min-width: 768px) {
    .apps2-show-msj1 {
        transform: translate(65%, 25%);
    }
    
    .apps2-show-msj2 {
        transform: translate(100%, 105%);
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin: 0 auto;
        padding: 0 64px;
        max-width: 1440px;
    }
    
    .info-cards-div_content {
        width: 24%;
        text-align: center;
    }

    .heady_3 {
        font-size: 36px;
        line-height: 52px;
        letter-spacing: .2px;
        margin: 80px 0;
    }

    .info2-cards-div-content {
        width: 29%;
        padding: 0 2%;
    }

    .apps-show-div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
        gap: 10px;
        margin-bottom: 10px;
    }

    .apps-show-wrapper1, .apps-show-wrapper2 {
        height: auto;
    }
    
    .apps-show-content1, .apps-show-content2 {
        margin: 64px 64px;
    }

    .apps2-show {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none; 
        margin-bottom: 80px;
        padding: 0 64px;
        height: 317px;
    }

    .apps2-show-wrapper1 {
        padding: 69px 5%; 
        height: auto; 
    }

    .apps2-show-wrapper2 {
        height: auto;
    }

    .apps2-show-msj1 {
        width: 272px;
        height: 92px;
        transform: translate(15%, 25%);
        font-size: 16px;
        line-height: 1.5;
        padding: 20px 28px; 
    }

    .apps2-show-msj2 {
        width: 272px;
        height: 92px;
        transform: translate(30%, 105%);
        font-size: 16px;
        line-height: 1.5;
        padding: 20px 28px; 
    }

    .acc-tuto {
        padding: 0 128px;
        flex-direction: row;
    }

    .acc-tuto-heady {
        font-size: 36px;        
        line-height: 52px;
        padding-right: 65px;
    }

    .currency-panel {
        padding-top: 158px;
    }

    .currency-panel-heady {
        margin-bottom: 100px;
    }

    .currency-panel-coins {    
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 21px;
    }

    .currency-panel-container {
        padding: 0 70px;
    }

    .coin-icon {
        margin: 0 7px 0 10px;
    }
}

@media screen and (min-width: 1440px) {
    .apps2-show-msj1 {
        transform: translate(25%, 25%);
    }
    
    .apps2-show-msj2 {
        transform: translate(60%, 105%);
    }
}