body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: #252c36;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    line-height: 1.5;
    font-weight: 300;
}

.container {
    padding: 0 64px;
}

.info-cards-div-wrapper {
    display: flex;
    flex-flow: wrap;    
    font-family: 'raleway';
}

.info-cards-div_content p {
    font-size: 14px;
    color: #484d53;
}

.heady_3 {
    font-family: 'roboto', sans-serif;
    font-size: 36px;
    letter-spacing: .2px;
    margin: 80px 0;
    line-height: 52px;
}

.info2-cards-div-wrapper {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 80px;
    align-items: left;
}

.icon-wrap1 {
    width: 50px;
    height: 50px;
    background-color: #4d77ef;
    border-radius: 50px;
    text-align: center;
}

.icon-wrap2 {
    width: 50px;
    height: 50px;
    background-color: #ffd340;
    border-radius: 50px;
    text-align: center;
}

.icon-wrap3 {
    width: 50px;
    height: 50px;
    background-color: #ff7171;
    border-radius: 50px;
    text-align: center;
}

.icon-wrap1 i, .icon-wrap2 i, .icon-wrap3 i {
    color: #ffffff;
    font-size: 230%;
    text-align: center;
    padding-top: 10px;
}

.info2-cards-div-content p {
  font-size: 13px; 
  line-height: 20px;
  letter-spacing: 0.4px;
}

.text-info2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: 0.15px;
}

.apps-show-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.apps-show-content1, .apps-show-content2 {
    margin: 64px 64px;
}

.header-apps-show {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 1.1px;
}

.apps-show-content h1 {
    font-size: 32px;
}

.apps-show-content p {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.apps-show-content1 a, .apps-show-content2 a {
    text-decoration: none;
    font-size: 10px;
    color: #4ebc42;
}

.apps-show-wrapper1 {
    background: #f6f9fc;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 19px 0px;
}

.apps-show-wrapper2 {
    background: #161a1e;
    border-radius: 10px;
}

.apps-show-content2 {
    color: #f6f9fc;
}

.apps-show-phone {
    background: url(https://assets.bitso.com/static/media/app.a16b8f00.png) center center / contain no-repeat;
    height: 201px;
    width: auto;
    text-align: center;
    position: relative;
}

.apps-show-grafica {
    background: url(https://assets.bitso.com/static/media/alpha.85594308.png) center center / contain no-repeat;
    height: 201px;
    width: auto;
}

.apps-show-phone-text {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 85%;
    left: 50%;
}

.apps2-show {
    display: flex;
    border-radius: 10px 10px;
    margin: 0 64px;
    background: #4ebc42;
}

.apps2-show-wrapper1 {
    width: 382px;
    height: 151px;
    padding: 69px 64px;    
}

.apps2-show-wrapper2 {
    display: relative; 
    background: url(https://assets.bitso.com/static/media/emoji1.d3cc48f3.png) center center / contain no-repeat;
  
}
.apps2-show-msj1 h3 img {
    width: 42px;
    height: 42px;
}

.apps2-show-msj1 {
    /* position: absolute; */
    background: #ffffff;
    border-radius: 10px;
    width: 272px;
    height: 92px;
    padding: 20px 28px;
}
.apps2-show-msj2 h3 img {
    width: 42px;
    height: 42px;
}

.apps2-show-msj2 {
    background: #ffffff;
    border-radius: 10px;
    width: 272px;
    height: 92px;
    padding: 20px 28px;
}

@media screen and (min-width: 320px){

    .info-cards-div_content{
        width: 50%;
    }

    .text-succes{
        color: #4ebc42;
        font-size: 21px;
    }

    .info2-cards-div-content {
        width: 100%;
        font-size: 13px;
        line-height: 1.4;
        letter-spacing: 0.5px; 
        padding: 0 2%;      
    }
}

@media screen and (min-width: 1024px) {
    .info-cards-div_content {
        width: 24%;
        text-align: center;
    }

    .info2-cards-div-content {
        width: 29%;
    }
}